
@import url('https://fonts.googleapis.com/css2?family=Fira+Code:wght@400;600&family=Inter:wght@400;700&display=swap');

body {
    font-family: 'Inter', sans-serif;
    scroll-behavior: smooth;
}
.code-font { font-family: 'Fira Code', monospace; }

.gradient-bg {
    background: radial-gradient(circle at top right, #1e293b, #0f172a);
}

.glass {
    background: rgba(255, 255, 255, 0.03);
    backdrop-filter: blur(10px);
    border: 1px solid rgba(255, 255, 255, 0.1);
}

#contact-margin {
    margin-left: 100px;
}

#profile-margin {
    margin-left: 400px;
}
